node_modules/
dist/
.cache/
.arena/
.local/
.config/
.env
.env.*
*.zip
tests/*.png
tests/fixtures/
playwright-report/
test-results/
.DS_Store

.npm/
.sudo_as_admin_successful

# Private user attachments
uploads/
